<h1>Color Form</h1>
<form id="color-form" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name:</label>
  <input [(ngModel)]="favColor.firstName" type="text" name="firstName">
  <br><br>
  <label for="lastName">Last Name:</label>
  <input [(ngModel)]="favColor.lastName" type="text" name="lastName">
  <br><br>
  <label for="color">Favorite Color:</label>
  <input [(ngModel)]="favColor.favoriteColor" type="text" name="color">
  <br><br>
  <input type="submit">
</form>
<div id="thanks" class="hidden">
  <h3>Thanks for submitting!</h3>
</div>
<div id="response" class="hidden">
  <h3>Response: <span id="sentence"></span></h3>
</div>